body  {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 22px !important;
    background: #000000 !important;
    // background: #897878 !important;
    color: #fff !important;
}
.font-10 {
    font-size: 10px;
}
.p-15-0 {
    padding: 15px 0;
}
.mr-15-0 {
    margin: 15px 0;
}
.mr-top-15 {
    margin-top: 15px;
}
.als-center {
    align-self: center;

    &.data {
        align-self: normal;
    }
}
.rwd-flex-center {
    @media (max-width: 991px) {
        display: flex;
        justify-content: center;
    }
}
.txt-align-center{
    text-align: center;
    align-self: center !important;
}