.swiper-container {
    .swiper-body {
        display: flex;
        .swiper-slide {
            visibility: hidden;
            &.active {
                visibility: visible;
            }
        }
    }
}